<div class="fill-screen">

  <mat-toolbar color="primary">
    <span>IOT Home</span>
  </mat-toolbar>

  <mat-card class="sample-card">
    <div class="container-fill d-flex display-1">

      <div class="m-auto">23°C</div>
    </div>
  </mat-card>

  <mat-card class="sample-card">
    <div class="container-fill d-flex display-1">

      <div class="m-auto">70%</div>
    </div>
  </mat-card>

  <mat-card class="sample-card">
    <div class="container-fill d-flex display-1">
      <div class="m-auto">
        <img class="img-fluid" src="../assets/photo-camera.png" />
      </div>
    </div>
  </mat-card>
</div>