<div class="fill-screen">

  <mat-toolbar color="primary">
    <span>IOT Home</span>
  </mat-toolbar>
  <div *ngIf="this.iotService.iotData">
    <app-data-card 
  *ngFor="let key of Object.keys(this.iotService.iotData)"
  [value]="this.iotService.iotData.key"
  [key]="key"
  >
  </app-data-card>
  </div>
  <mat-card class="sample-card">
    <div class="container-fill d-flex display-1">
      <div class="m-auto">
        <img class="img-fluid" src="../assets/photo-camera.png" />
      </div>
    </div>
  </mat-card>
</div>